@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Grand+Hotel&family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bungee&family=Grand+Hotel&family=Orbitron:wght@400..900&family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap');


        .cabeçalho {
            color: white;
            font-family: "Abril Fatface", serif;
        }
          nav {
        background: #002242;
        display: flex;
        justify-content: center;
        padding: 12px 0;
        border-bottom: 4px solid #6FADD2;
    }
.introduçao{
        text-align: center;
    }
    .textinho{
        text-align: center;
        margin: 50px;
    }
    .container{
        max-width: 900px;
        height: 250px;
        background-color:#F4E1C1;
        border: 2px solid #8B3A3A;
        display: block;
        margin: auto;
        border-radius: 20px;
    
    }
    .back{
        background-color: #FDEAA8;
        margin: 5px;
        padding: 15px;
    }

    nav a {
        color: #fff;
        text-decoration: none;
        margin: 0 20px;
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    nav a:hover {
        text-decoration: underline;
        font-size: 20px;
    }


        body {
            font-family: "Bungee", sans-serif;;
            background-color: #fdf6e3;
            color: #333;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #4A001F;
            padding: 20px;
            text-align: center;
        }

        h1 {
            margin: 0;
        }

        main {
            padding: 20px;
        }

        img {
            max-width: 100%;
            height: auto;
            margin: 20px 0;
        }

        footer {
            background-color: #ffcc00;
            text-align: center;
            padding: 10px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }